/* Shared classes */
.section {
  text-align: left;
  background-color: orange;
  color: white;
  font-family: monospace;
}

.text-container {
  margin: auto;
  width: 85%;
  background-color: black;
  padding: 5%;
}

/* Main */
#main-button {
  font-family: monospace;
  background-color: black;
  color: white;
  border: none;
}

/* Bio */
#bio-section {
  background-color: blue;
}

#bio-content {
  column-count: 2;
}

/* Resume  */
#resume-section {
  background-color: wheat;
}

#resume-content {
  text-align: left;
}

.experience{ 
  padding: 2em;
}

#work-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.resume-content-container {
  text-align: left;
  background-color: grey;
  margin: 1%;
}

/* Relevant experiences */
#relevant-experience {
  background-color: brown;
}
